/vendor
/composer.lock
/web/sites/default/files/
/web/sites/default/settings.php
/web/sites/default/settings.local.php
/web/sites/default/services.yml
/web/sites/default/services.local.yml
/web/sites/default/files/php/twig
/web/sites/default/files/php/twig/compiled
/web/sites/default/files/php/twig/compiled/*.php
/web/sites/default/files/php/twig/compiled/*.html.twig
/web/sites/default/files/php/twig/compiled/*.js
/web/sites/default/files/php/twig/compiled/*.css
/web/sites/default/files/php/twig/compiled/*.json
/web/sites/default/files/php/twig/compiled/*.txt
/web/sites/default/files/php/twig/compiled/*.xml
/web/sites/default/files/php/twig/compiled/*.yml
/web/sites/default/files/php/twig/compiled/*.twig
/web/sites/default/files/php/twig/compiled/*.php.inc
/web/sites/default/files/php/twig/compiled/*.php.twig
/web/sites/default/files/php/twig/compiled/*.php.json
/web/sites/default/files/php/twig/compiled/*.php.txt
/web/sites/default/files/php/twig/compiled/*.php.xml
/web/sites/default/files/php/twig/compiled/*.php.yml
/web/sites/default/files/php/twig/compiled/*.php.twig.inc
